.bg {
	background-color: #fff;
	margin-top: 5px;
	padding-top: 1px;
	padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px; 
	border-radius: 2px;
} 	

.bgt {
	margin-top: 10px;
	border-radius: 2px;
} 	


.bbg {
	background-color: rgba(60, 118, 61, 0.14);
} 	


.bgrow {

 	padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px; 

}

.postpic-addon{
	
	
	font-weight: 400;
	line-height: 1;
	/*color: #555;*/
	text-align: center;
	/*background-color: #eee;*/
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.postname-addon{
	
	
	font-weight: 400;
	line-height: 1;
	/*color: #555;*/
	/*text-align: center;*/
	/*background-color: #eee;*/
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}



.postpic img {
		width: 250px;
		height: 250px;
}



.shdwdiv{
	box-shadow: 0.5px 0.5px 0.5px rgba(136, 136, 136, 0.43);
}
    


@media (max-width: 900px) {
	.postpic img {
		width:270px;
		height: 270px;

	}

	.postStat{
	    position: absolute;
    	left: 165px;
    	top: 10px;
    	bottom: 10px;
    	margin-right: 5px;
	}
	.loc{
		position: absolute;
    	bottom: 5px;
	}

	.bg {
		background-color: #fff;
		margin-top: 5px !important;
		margin-left: 10px;
		margin-right: 10px;

		
	} 	



}

.fontS{
	font-size: 8px;
	font-style: bold;
}

.fontT{
	font-size: 12px;
	font-style: bold;
}

.fontUser{
	font-style:italic;
}

.green{
	color: #098446;
}



   